# File: templates/policy.tpl

path "{{ vso_secret_name }}/data/{{ vso_secret_collection }}" {
   capabilities = ["read"]
}

path "{{ vso_secret_name }}/data/{{ vso_secret_collection }}" {
   capabilities = ["read"]
}
