upstream {{ item.upstream }} {
        server {{ item.host1 }}:{{ item.port }} max_fails=0 fail_timeout=0;
        server {{ item.host2 }}:{{ item.port }} max_fails=0 fail_timeout=0;
        server {{ item.host3 }}:{{ item.port }} max_fails=0 fail_timeout=0;

}

server {
        listen 443 ssl;
        server_name {{ item.domain }};
        ssl on;
        ssl_certificate /etc/letsencrypt/live/{{ item.domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ item.domain }}/privkey.pem;



        location / {
                proxy_pass http://{{ item.upstream }};
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                client_max_body_size {{ item.client_max_body_size }};
        }
}